
tr th {
  padding: 10px 5px 10px 5px;
  background-color: #262525;
  font-size: 17px;
  color: rgb(241, 221, 221);
}

table, th{
  padding: 10px 0 0 0;
  border: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;
}

.search-bar {
  float: right;
}

.search-bar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 25px;
  border: none;
}

.search-bar button {
  float: right;
  padding: 10.5px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-bar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-bar button:hover {
  background: #ccc;
}



.menubar{
  width: auto;
}

.search-bar a{
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

body{
  margin-left: 1%;
  margin-right: 1%;
}

body p{
  font-size: 20px;
}

.back a{
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  margin-left: 8px;
  font-size: 120%;
  color: #030000;
}


.back a:link, .back a:visited {
  background-color: #41302f;
  color: rgb(255, 255, 255);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.back a:hover, .back a:active {
  background-color: rgb(147, 136, 136);
}




.student-link {
  text-decoration: none;
  color: inherit;
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.clickable-row:hover {
  background-color: #e7cacaa1;
}



td {
  padding: 10px 0 0 0;
  text-align: center;
  font-weight: bold;
  border: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;
}

