h1{
    text-align: center;
    font-size: 300%;
    margin-bottom: 20px;
}

form{
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}

button{
    background-color: #356b16;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#content{
    width: 95%;
    height: 50vh;        
    padding: 10px;       
    font-size: 16px;
    border-radius: 5px;   
    border: 1px solid #ccc;
    resize: none;
}

#title{
    width: 35%;
    height: 7vh;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;   
    border: 1px solid #ccc;
    resize: none;
}

fieldset{
    background-color: aqua;
}


.new-post-form a{
    text-align: center;
    float: right;
    text-decoration: none;
    color: #262525;
}

.new-post-form a{
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    margin-left: 8px;
    font-size: 120%;
    color: #030000;
}


.new-post-form a:link, .new-post-form a:visited {
  color: rgb(255, 255, 255);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.new-post-form a:hover, .new-post-form a:active {
  background-color: rgb(147, 136, 136);
}

.new-post-form a{
    float: left;
    background-color: #41302f;
}